= form_with model: @article, local: true do |form|
  %p
    = form.label t("article.title_article")
    %br/
    = form.text_field :title, id: :article_title
  %p
    = form.label t("article.content_article")
    %br/
    = form.text_area :content, id: :article_content
  %p
    = form.submit value: t("article.create_article")
    %br/
