%p
  %strong Title:
  = @article.title
%p
  %strong Text:
  = @article.content

%article
- @article.comments.each do |comment|
  %p= "Commented by: #{comment.email}"
  %p= comment.content
= form_with url:  article_comments_path(@article), scope: :comment do |form|
  %p= form.label t("comment.email")
  = form.text_field :email, id: 'comment_email'
  %p= form.label t("comment.comment")
  = form.text_area :content, cols: 50, rows: 5, id: 'comment_content'
  %p= form.submit t("comment.submit_comment")

%p
  = link_to t("article.edit_article"), edit_article_path(@article)
  = link_to t("article.delete_article"), article_path(@article), method: :delete
